---
layout: default
title: Yusuph's Musings
---
<header class="blog-header">
    <h1>{{ page.title }} </h1>  <h5>[<a href=/blog/categories.html>All Blog Categories</a>]</h5>
</header>
{% for post in paginator.posts %}
<section class="post-container">
    <a class="post-title" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    <p class="post-date">{{ post.date | date_to_long_string }}</p>
    {% if post.content contains "<!--more-->" %}
    <div class="post-preview">
        {{ post.content | split:"<!--more-->" | first }}  <a href="{{ post.url }}"><i>Read More...</i></a>
    </div>
    {% endif %}
</section> 
<!-- <post-sep class="post-preview-separator"></post-sep> -->
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="navposts">
    {% if paginator.previous_page %}
    <span class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </span>
    {% endif %}
    {% if paginator.next_page %}
    <span class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </span>
    {% endif %}
</div>
{% endif %}
