<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/site.css">

    <!-- Input a title-->
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="navbar-wrapper">
      <div id="navbar">
          <a href="/index.html">Yusuph Mkangara</a>
          <ul>
              <li>
                  <a href="/index.html">Home</a>
              </li>
              <li>
                  <a href="/projects.html">Projects</a>
              </li>
              <li>
                  <a href="/blog/index.html">Blog</a>
              </li>
          </ul>
      </div>
  </div>

    <div class="container">
    {{ content }}
    </div>

    <script src='/static/scripts/site.js'></script>
  </body>
</html>